@import '_typo.scss';
@import '_vars.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
}

.colors {
    display: flex;
    height: 100vh;

    @include mobile-l {
        flex-direction: column;
        height: calc(100vh - 60px);
    }
}

.color {
    flex: 0 0 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include desktop {
        padding: 40px;
    }

    @include tablet {
        padding: 30px;
    }

    @include mobile-l {
        padding: 20px;
        height: 20%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include mobile-p {
        padding: 15px;
    }

    &__name {
        color: #fff;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
        background: rgba(0,0,0,.5);
        padding: 10px;
        border-radius: 5px;

        @include mobile-l {
            width: 200px;
        }

        @include mobile-p {
            font-size: 20px;
            width: 160px;
        }
    }

    &__copy:before {
        content: '\edea';
    }

    &__lock:before {
        content: '\ec8c';
    }

    .action-buttons {
        margin: auto 0 40px;
        text-align: center;
        position: relative;

        @include only-tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include mobile-l {
            padding: 20px;
            margin: 0;
        }

        @include mobile-p {
            display: flex;
            padding: 0;
        }

        button {
            border: none;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 10px;
            font-family: $icon-font;
            font-size: 18px;
            background-color: #efefef;
            color: #333333;

            @include only-tablet {
                margin: 10px 0;
            }

            @include mobile-p {
                width: 36px;
                height: 36px;
                margin: 0 5px;
                font-size: 14px;
            }

            &:hover{
                background-color: #333333;
                color: #efefef;
            }
        }

        .message {
            background: rgba(0,0,0,.5);
            padding: 5px 50px;
            border-radius: 5px;
            color: #ffffff;
            font-size: 12px;
            position: absolute;
            left: 50%;
            top: -50px;
            transform: translate(-50%, 0);
            white-space: nowrap;
            transition: visibility .3s ease;
        }
    }

    &.locked {
        .action-buttons button.color__lock {
            background-color: #333333;
            color: #efefef;

            &:before {
                content: '\ec61';
            }
        }
    }
}

.generate-palette {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    line-height: 60px;
    background-color: #efefef;
    color: #333333;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 60px;
    transition: all .2s ease;
    display: flex;
    align-items: center;

    &:hover {
        top: calc(50% + 2px);

        @include mobile-l {
            top: unset;
        }
    }

    &:hover:before {
        transform: rotate(180deg);
    }

    &:before {
        content: '\efd1';
        line-height: 1;
        font-family: $icon-font;
        font-size: 24px;
        margin: 0 20px 0 0;
        transition: all .2s ease;
    }

    @include mobile-l {
        position: fixed;
        bottom: 0;
        left: 0;
        top: unset;
        width: 100%;
        border-radius: 0;
        transform: none;
        justify-content: center;
    }
}

button {
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: background-color .3s ease, color .3s ease;
}
